html {
  font-family: 'Merriweather', serif;
}


tbody tr {
  height: 6em;
}

td {
  border: solid 1px #ccc;
}

th {
  border: solid 1px #ccc;
}


.entry {
  padding: .5em;
  background-color: #f2f2f2;
  border: solid 1px #666;
  border-radius: 8px;
}

.e-1 {
  color: #333;
}
